.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    flex-wrap: nowrap;
    border-bottom: 1rem solid var(--color-amber-300);
}

.menu-itens {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    text-transform: capitalize;
}

.menu_game{
    color: var(--color-red-700);
    font-size: 1.3rem;
}

.painel{
    display: flex;
    align-items: center;
    justify-content: center;
    --units: 1.5vmax;
	--brick1: var(--color-red-900);
	--brick2: var(--color-red-800);
	--lines: var(--color-stone-800);
	--gp-ln: 50%/calc(var(--units) * 10) calc(var(--units) * 5);
	--gp-cn: 50%/calc(var(--units) * 5) calc(var(--units) * 5);
	height: 100vh;
	background: 
		repeating-conic-gradient(
            from 90deg at 95% 55%, 
            var(--lines) 0% 25%, 
            #fff0 0% 100%) 
            var(--gp-cn), 
		repeating-linear-gradient(
            180deg, 
            var(--lines) 0 5%, 
            #fff0 0 50%, 
            var(--lines) 0 55%, 
            var(--brick2) 0 100% ) 
            var(--gp-ln), 
		repeating-linear-gradient(
            90deg, 
            var(--brick1) 0 47.5%, 
            var(--lines) 0 50%, 
            var(--brick1) 0 97.5%, 
            var(--lines) 0 100% ) 
            var(--gp-ln);
}

.square{
    height: 14rem;
    width: 20rem;
    background-image: url('../images/janela.png');
    background-size: cover;
    position: relative;
}

.enemy {
    background-image: url('../images/ralph.png'), url('../images/janela.png');
    background-size: 12rem 10rem, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

#gameOverModal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gameOverContent {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 47rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#gameOverModal.active {
  display: flex;
}

button{
    background-color: transparent;
}

.fa-solid{
    color: var(--color-amber-300);
    font-size: 2rem;
}

#pauseOverlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}